<div class="news">
	<h1 class="v-label-h1">Il progetto</h1>
	<div class="v-label v-label-light light">
		<span class="v-label-h2">GREENAREA</span> mira a realizzare e validare un
		sistema virtuoso di trasporto delle merci che razionalizzi e renda
		economicamente vantaggioso, efficiente ed ecosostenibile il servizio
		di ultimo miglio e che consenta lo sviluppo di un’industria di servizi
		telematici avanzati real-time di tipo B2B, ad uso stakeholder sul
		territorio urbano.
	<br/>
		La piattaforma <span class="v-label-h2">GREENAREA</span> intermedia
		l’erogazione di servizi ad alto valore aggiunto, interfaccia le
		transazioni per l’uso delle risorse logistiche e i pagamenti tariffari
		dinamici sicuri, facilita l’utilizzo delle più avanzate forme di
		contrattazione e abilita la complementarietà con sistemi di
		certificazione e accreditamento al trasporto urbano delle merci.
		GREENAREA integra le principali funzioni che permettono di sviluppare i
		processi, i servizi e le applicazioni per la City Logistics del futuro
	</div>
</div>