<div class="news">
	<h1 class="v-label-h1">News</h1>
	<div class="news-row">
		<div class="news-date">
			<div class="day-number">09</div>  
			<div>giu</div>
		</div>
		<div class="news-content">
			<h2 class="v-label-h2">GREENAREA E PUMAS: INNOVAZIONE AL SERVIZIO DEL TERRITORIO</h2>
			<div class="v-label v-label-light light">
			Si terrà il 9 giugno 2014 alle ore 9.30 a Torino presso il Palazzo
			della Curia Maxima la conferenza regionale del progetto PUMAS
			(sessione mattutina) e del Progetto GREENAREA (sessione pomeridiana)…
			</div>
		</div>
	</div>
	<div class="news-row">
		<div class="news-date">
			<div class="day-number">25</div> 
			<div>mag</div>
		</div>
		<div class="news-content">
			<h2 class="v-label-h2">TORINO: SITO PILOTA DEL PROGETTO GREENAREA</h2>
			<div class="v-label v-label-light light">
			La Città di Torino si appresta a diventare sito pilota del progetto
			"GREENAREA - Urban Electronic LOGistic". Il Progetto GREENAREA rientra
			nella strategia di Torino Smart CIty ed ha come obiettivo sviluppare
			e sperimentare una piattaforma telematica innovativa…
			</div>
		</div>
	</div>
	<div class="news-row">
		<div class="news-date">
			<div class="day-number">12</div> 
			<div>mag</div>
		</div>
		<div class="news-content">
			<h2 class="v-label-h2">TORINO: SITO PILOTA DEL PROGETTO GREENAREA</h2>
			<div class="v-label v-label-light light">
			La Città di Torino si appresta a diventare sito pilota del progetto
			"GREENAREA - Urban Electronic LOGistic". Il Progetto GREENAREA rientra
			nella strategia di Torino Smart CIty ed ha come obiettivo sviluppare
			e sperimentare una piattaforma telematica innovativa…
			</div>
		</div>
	</div>
</div>
